.tweet {
    -moz-box-align: stretch;
    -moz-box-direction: normal;
    -moz-box-orient: vertical;
    align-items: stretch;
    border: 0px solid black;
    box-sizing: border-box;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    margin: 0px;
    min-height: 0px;
    min-width: 0px;
    padding: 0px;
    position: relative;
    z-index: 0;
}
.tweet_content {
        padding-right: 16px;
}
.tweet_content_box {
    -moz-box-direction: normal;
    -moz-box-orient: vertical;
    flex-direction: column;
}